<div class="row">
  <div class="col-lg-12 text-center">
    <h1><%= t(:welcome) %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center">
    <p>
      <h5><%= t(:select_what_you_want_to_do_in_the_main_menu) %></h5>
    </p>
  </div>
</div>
